[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Here goes your package requirements for running the application and its versions (which packages you will use when running the application).
requests = ">=2.27.1"
requests-toolbelt = ">=0.10.1"
future = "*"
fastjsonschema = ">=2.16.2"

[dev-packages] # Here goes your package requirements for developing the application and its versions (which packaes you will use when developing the application)
sphinx = ">=5.0.0"
sphinx-rtd-theme = "*"
pytest = "*"
pytest-rerunfailures = ">=10.3"
flake8 = "*"
ipython = "*"
readthedocs-sphinx-search = ">=0.1.0"
setuptools_scm = ">=6.0.0"