[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Here goes your package requirements for running the application and its versions (which packages you will use when running the application).
requests = ">=2.4.2"
requests-toolbelt = ">=0.9.1"
future = "*"
fastjsonschema = ">=2.13"
click = "==7.0"

[dev-packages] # Here goes your package requirements for developing the application and its versions (which packaes you will use when developing the application)
sphinx = ">=2.1.0"
sphinx-rtd-theme = "*"
pytest = "==4.6.1"
flake8 = "*"
ipython = "*"
readthedocs-sphinx-search = {git = "https://github.com/readthedocs/readthedocs-sphinx-search",ref = "master"}
setuptools_scm = "==3.3.3"
